html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: #111;
}

#viewer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  overflow: hidden;
}

canvas {
  max-width: none;
  height: auto;
}
